body {
    --fd-happy-default: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.536 7.748c.655.417.849 1.286.432 1.94-.105.165-2.614 4.027-7.093 4.027S.887 9.853.782 9.69a1.406 1.406 0 112.373-1.51c.017.027 1.768 2.724 4.72 2.724s4.703-2.697 4.72-2.724a1.406 1.406 0 011.941-.431zM1.758 0a1.758 1.758 0 110 3.516 1.758 1.758 0 010-3.516zm12.305 0a1.758 1.758 0 110 3.516 1.758 1.758 0 010-3.516z' fill='%23969390' fill-rule='evenodd'/%3E%3C/svg%3E");
    --fd-happy-deselected: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.536 7.748c.655.417.849 1.286.432 1.94-.105.165-2.614 4.027-7.093 4.027S.887 9.853.782 9.69a1.406 1.406 0 112.373-1.51c.017.027 1.768 2.724 4.72 2.724s4.703-2.697 4.72-2.724a1.406 1.406 0 011.941-.431zM1.758 0a1.758 1.758 0 110 3.516 1.758 1.758 0 010-3.516zm12.305 0a1.758 1.758 0 110 3.516 1.758 1.758 0 010-3.516z' fill='%23C2C2C2' fill-rule='evenodd'/%3E%3C/svg%3E");
    --fd-happy-selected: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.536 7.748c.655.417.849 1.286.432 1.94-.105.165-2.614 4.027-7.093 4.027S.887 9.853.782 9.69a1.406 1.406 0 112.373-1.51c.018.027 1.768 2.724 4.72 2.724s4.702-2.697 4.72-2.724a1.406 1.406 0 011.941-.431zM1.758 0a1.758 1.758 0 110 3.516 1.758 1.758 0 010-3.516zm12.305 0a1.758 1.758 0 110 3.516 1.758 1.758 0 010-3.516z' fill='%23488AC2' fill-rule='evenodd'/%3E%3C/svg%3E");
    --fd-sad-default: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.536 12.44a1.406 1.406 0 01-1.941-.431c-.018-.027-1.768-2.724-4.72-2.724s-4.703 2.697-4.72 2.724a1.406 1.406 0 11-2.373-1.51c.105-.164 2.614-4.026 7.093-4.026s6.988 3.862 7.093 4.026a1.406 1.406 0 01-.432 1.941zM1.758 0a1.758 1.758 0 110 3.516 1.758 1.758 0 010-3.516zm10.547 1.758a1.758 1.758 0 103.515 0 1.758 1.758 0 00-3.515 0z' fill='%23969390' fill-rule='nonzero'/%3E%3C/svg%3E");
    --fd-sad-deselected: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.536 12.44a1.406 1.406 0 01-1.941-.431c-.018-.027-1.768-2.724-4.72-2.724s-4.703 2.697-4.72 2.724a1.406 1.406 0 11-2.373-1.51c.105-.164 2.614-4.026 7.093-4.026s6.988 3.862 7.093 4.026a1.406 1.406 0 01-.432 1.941zM1.758 0a1.758 1.758 0 110 3.516 1.758 1.758 0 010-3.516zm10.547 1.758a1.758 1.758 0 103.515 0 1.758 1.758 0 00-3.515 0z' fill='%23C2C2C2' fill-rule='nonzero'/%3E%3C/svg%3E");
    --fd-sad-selected: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.536 12.44a1.406 1.406 0 01-1.941-.431c-.018-.027-1.768-2.724-4.72-2.724s-4.702 2.697-4.72 2.724a1.406 1.406 0 11-2.373-1.51c.105-.164 2.614-4.026 7.093-4.026s6.988 3.862 7.093 4.026a1.406 1.406 0 01-.432 1.941zM1.758 0a1.758 1.758 0 110 3.516 1.758 1.758 0 010-3.516zm10.547 1.758a1.758 1.758 0 103.515 0 1.758 1.758 0 00-3.515 0z' fill='%23CE5342' fill-rule='nonzero'/%3E%3C/svg%3E")
}

#sg-feedback .sg-feedback__comments {
    position: relative;
    display: block;
    color: #515151;
    font-family: sans-serif;
    background: #fff;
    border: 1px solid rgba(74, 74, 74, .2);
    border-radius: 3px;
    width: 100%;
    max-width: 450px;
    resize: vertical;
    margin: 7px 0 0;
    line-height: 1.3;
    font-size: .875em;
    padding: 5px 7px;
    min-height: 65px;
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .1)
}

#sg-feedback .sg-feedback__comments::-webkit-input-placeholder {
    color: #b2b2b2
}

#sg-feedback .sg-feedback__comments::-moz-placeholder {
    color: #b2b2b2
}

#sg-feedback .sg-feedback__comments:-ms-input-placeholder {
    color: #b2b2b2
}

#sg-feedback .sg-feedback__comments::-ms-input-placeholder {
    color: #b2b2b2
}

#sg-feedback .sg-feedback__comments::placeholder {
    color: #b2b2b2
}

#sg-feedback .sg-feedback__comments:focus {
    outline: none;
    -webkit-box-shadow: 0 0 5px #a2d7f4;
    box-shadow: 0 0 5px #a2d7f4;
    border-color: #74c3ef
}

.sg-feedback__improvement {
    display: block;
    width: 100%;
    padding: 0
}

.sg-feedback__improvement-title {
    color: #515151;
    font-size: .875em;
    font-weight: 700;
    line-height: 1.3
}

.sg-feedback__improvement-submit {
    position: relative;
    display: inline-block;
    opacity: 1;
    height: auto;
    text-align: center;
    line-height: .875em;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    border: 0;
    color: #fff;
    font-weight: 700;
    text-transform: none;
    padding: 7px 15px;
    margin: 5px auto 0;
    font-size: 12px;
    background: #157cb5;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3)
}

.sg-feedback__improvement-submit:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px #a2d7f4;
    box-shadow: 0 0 5px #a2d7f4;
    background: #188ccc
}

.sg-feedback__improvement-submit:disabled {
    background: #d1d1d1;
    text-shadow: none
}

.sg-feedback__improvement-submit:disabled:hover {
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #d1d1d1
}

.sg-feedback__improvement-type--negative,
.sg-feedback__improvement-type--neutral,
.sg-feedback__improvement-type--positive {
    opacity: 0;
    height: 0;
    overflow: hidden
}

.sg-feedback__improvement-type ul {
    list-style: none;
    line-height: 1;
    background: transparent;
    margin: 7px 0 0;
    padding: 0;
    max-width: 465px
}

#sg-feedback .sg-feedback__dialog .sg-feedback__improvement .sg-feedback__improvement-type ul {
    padding-left: 0
}

.sg-feedback__improvement-type ul li {
    position: relative;
    list-style: none;
    background: #f9f9f9;
    border: 1px solid #eaeaea;
    border-top: 0;
    text-align: left;
    line-height: 1;
    margin: 0;
    padding: 0;
    min-height: 40px;
    -webkit-transition: min-height .2s ease-out;
    transition: min-height .2s ease-out
}

.sg-feedback__improvement-type ul li:hover {
    background: #f2f2f2
}

.sg-feedback__improvement-type ul li.deselected {
    min-height: 40px
}

.sg-feedback__improvement-type ul li.selected {
    min-height: 130px;
    background: #eaeaea
}

@media (min-width:768px) {
    .sg-feedback__improvement-type ul li.selected {
        min-height: 140px
    }
}

.sg-feedback__improvement-type ul li.selected button,
.sg-feedback__improvement-type ul li.selected textarea {
    -webkit-animation-name: show;
    animation-name: show;
    -webkit-animation-duration: .3s;
    animation-duration: .3s
}

@-webkit-keyframes show {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes show {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.sg-feedback__improvement-type ul li:first-of-type {
    border-radius: 4px 4px 0 0;
    border: 1px solid #eaeaea
}

.sg-feedback__improvement-type ul li:last-of-type {
    border-radius: 0 0 4px 4px
}

#sg-feedback .sg-feedback__dialog .sg-feedback__improvement .sg-feedback__improvement-type ul li {
    margin-bottom: 0;
    padding: 0
}

.sg-feedback__improvement-type ul li input {
    display: none
}

.sg-feedback__improvement-type ul li input+label {
    cursor: pointer;
    display: inline-block;
    font-size: .8125em;
    font-weight: 700;
    color: #515151;
    margin: 0;
    padding: 10px 10px 10px 30px;
    line-height: 1.3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%
}

.sg-feedback__improvement-type ul li input+label:before {
    content: " ";
    position: absolute;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 100%;
    height: 22px;
    width: 22px;
    top: 8px;
    left: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.sg-feedback__improvement-type ul li input:checked+label:before {
    border: 1px solid #157cb5
}

.sg-feedback__improvement-type ul li input:checked+label:after {
    content: " ";
    position: absolute;
    background: #157cb5;
    border-radius: 100%;
    height: 14px;
    width: 14px;
    top: 12px;
    left: 7px
}

.sg-feedback__improvement-type ul li .sg-feedback__improvement-wrapper {
    padding: 0 5px 5px;
    margin-top: -10px
}

.sg-feedback__improvement-type ul li .sg-feedback__comments {
    opacity: 1
}

#sg-feedback .sg-feedback__message {
    display: block;
    font-size: .875em;
    color: #515151;
    font-weight: 700;
    line-height: 1.3;
    height: 0;
    opacity: 0
}

#sg-feedback .sg-feedback__message.active {
    height: auto;
    opacity: 1;
    margin: 0 0 7px
}

#sg-feedback .sg-feedback__rating {
    line-height: 1;
    margin-bottom: 5px
}

#sg-feedback .sg-feedback__rating * {
    line-height: 1.3
}

#sg-feedback .sg-feedback__rating-title {
    font-size: 1em;
    font-weight: 700;
    color: #515151;
    display: inline-block;
    padding-right: 10px;
    margin: 5px 0
}

#sg-feedback .sg-feedback__rating-radio {
    position: relative;
    display: inline-block
}

#sg-feedback .sg-feedback__rating-radio:not(:last-child) {
    margin: 0 7px 0 0
}

#sg-feedback .sg-feedback__rating-radio input[type=radio] {
    display: none
}

#sg-feedback .sg-feedback__rating-radio label {
    position: relative;
    display: inline-block;
    text-align: center;
    color: #157cb5;
    background-color: #fff;
    font-size: .875em;
    font-weight: 700;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
    padding: 5px 10px;
    line-height: 1.3;
    margin: 0
}

#sg-feedback .sg-feedback__rating-radio label:hover {
    color: #157cb5;
    border-color: #157cb5;
    -webkit-box-shadow: 0 0 5px #a2d7f4;
    box-shadow: 0 0 5px #a2d7f4
}

#sg-feedback .sg-feedback__rating-radio.selected label {
    border-color: #1a9be3
}

#sg-feedback .sg-feedback__rating-radio.deselected label {
    color: #777;
    border-color: #bcbcbc
}

.sg-feedback__wrapper {
    z-index: 0;
    margin: 0 0 15px;
    background-color: transparent;
    max-width: 470px;
    font-family: sans-serif;
    font-size: 16px
}

.sg-feedback__wrapper .pointer-events-false {
    pointer-events: none
}

.sg-feedback__wrapper div {
    vertical-align: middle
}

.sg-feedback__wrapper #sg-feedback {
    padding: 0;
    width: 100%;
    display: inline-block
}

.sg-feedback__wrapper #sg-feedback.sg-feedback .sg-feedback__improvement ul,
.sg-feedback__wrapper #sg-feedback.sg-feedback .sg-feedback__improvement ul li {
    font-size: inherit;
    font-family: inherit
}

.sg-feedback__wrapper #sg-feedback__dialog,
.sg-feedback__wrapper #sg-feedback__improvement {
    overflow: hidden;
    height: 0;
    opacity: 0
}

.sg-feedback__wrapper.active #sg-feedback {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: transparent
}

.sg-feedback__wrapper.active #sg-feedback__dialog,
.sg-feedback__wrapper.active #sg-feedback__improvement {
    position: relative;
    height: auto;
    opacity: 1;
    width: inherit
}

.sg-feedback__wrapper * .active {
    height: auto;
    opacity: 1;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.sg-feedback__wrapper * .update {
    -webkit-animation-name: blink;
    animation-name: blink;
    -webkit-animation-duration: .3s;
    animation-duration: .3s
}

@-webkit-keyframes blink {
    0% {
        opacity: 1
    }

    1% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes blink {
    0% {
        opacity: 1
    }

    1% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#sg-feedback button,
#sg-feedback label {
    -webkit-tap-highlight-color: transparent
}